{{extend 'layout.html'}}
<style>
  * {
    padding: 0;
    margin: 0;
  }
  .fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
  }
  .center {
    display: block;
    margin: auto;
  }
</style>

<img class="center fit" src="{{=URL(r=request,c='static', f='tenor.gif')}}" />

<script>
 var timer = setTimeout(function(){
   window.location = 'http://localhost:8080'
  }, 10);
</script>
