{{extend 'layout.html'}}
<label for="sync_option">Sync Option: </label>
<select name="syncoption" id="syncoption">
 <option disabled selected value> -- select your sync option -- </option>
 <option value="newdata">Add New Data</option>
 <option value="updateopenbis">Update Openbis Data</option>
 <option value="updategalaxy">Update Openbis Data with galaxy id</option>
 <option value="linkmetaids">Link New samples as parent/children</option>
</select>


<br>
<label for="upload1opt">Upload Option: </label>
<select name="upload1_opt" id="upload1_opt">
 <option disabled selected value> -- select your upload option -- </option>
 <option value="fromfile">Upload File</option>
 <option value="fromform">Apply String on all Samples</option>
</select>

<br><br>
<span id='span_upload1opt'></span>
<div id="divupload1" class='hidden'>
{{=form}}
file names column in the tsv should be same as that in the data library
download template: 
<a href="{{=URL("static","openbis_templates/openbis_" + gdatatype + "_template.tsv")}}" download>Templete</a>
</div>

<br><br>
<div id="div_linkmetaids" class='hidden'>
<label for="sample_status">Sample Status: </label>
<select name="samplestatus" id="samplestatus">
 <option disabled selected value> -- select your sample status -- </option>
 <option value="children">New Children Samples</option>
 <option value="parent">New Parent Samples</option>
</select>
Tab separated file with (existing parent/children identifier and newfilenames)
{{=form1}}
</div>


<script type="text/javascript">
$(function(){
 var gdatatype = "{{=gdatatype}}";
 $('#samplestatus').change(function(){
  $.ajax({ type: "POST", url: 'upload_sample_status_session', data: { 'samplestatus' : $('#samplestatus :selected').val() }}).done(function(msg){});});
 $('#upload1_opt').change(function(){
  $.ajax({ type: "POST", url: 'upload1_option_session', data: { 'upload1_opt' : $('#upload1_opt :selected').val() }}).done(function(msg){ $('#span_upload1opt').html(msg) });
  if($('#upload1_opt :selected').val() == "fromfile"){
  $('#divupload1').removeClass('hidden');
  $('#divupload1').show();
  } else {
  $('#divupload1').hide();
  }
  });
 $('#syncoption').change(function(){
  $.ajax({ type: "POST", url: 'sync_option_session', data: { 'syncoption' : $('#syncoption :selected').val() }}).done(function(msg){});
  if($('#syncoption :selected').val() == "linkmetaids"){
   $('#div_linkmetaids').removeClass('hidden');
   $('#div_linkmetaids').show()
  }else {
   $('#div_linkmetaids').hide()
  }   
 }); 
});
</script>
