{{extend 'layout.html'}}
<form enctype="multipart/form-data" action="{{=URL('thirdpage')}}" method="post">
    <label for"workflow_name">Galaxy Workflow: </label><br>
    <select name='workflow_id'>
        {{for gworkflowid in gworkflowids:}}
            <option value="{{=gworkflowid[1]}}"
                {{=" selected='selected'" if str(gworkflowid[0])==request.vars.workflow_id else ""}}>
            {{=gworkflowid[0]}}
            </option>
        {{pass}}
    </select><br><br>


    <label for"space_name">OpenBIS Space: </label><br>
    <select name='space_name' multiple
        onchange="
        ajax('ProjectName', ['space_name'], 'project_name')">
        {{for spacecode in spacecodes:}}
            <option value="{{=spacecode}}"
                {{=" selected='selected'" if str(spacecode)==request.vars.space_name else ""}}>
            {{=spacecode}}
            </option>
        {{pass}}
    </select><br><br>

    <label for "project_name">Project: </label><br>
    <select name='project_name' id='project_name' multiple
        onchange="
        ajax('ExperimentName', ['project_name', 'experiment_type'], 'experiment_name')">
        {{for projectcode in projectcodes:}}
            <option value="{{=projectcode}}"
                {{=" selected='selected'" if str(projectcode)==request.vars.project_name else ""}}>
            {{=projectcode}}</option>
        {{pass}}
    </select><br><br>

    <label for "experiment_type">Experiment Type: </label><br>
    <select name='experiment_type' id='experiment_type' multiple
        onchange="
        ajax('ExperimentName', ['project_name', 'experiment_type'], 'experiment_name')">
        {{for experimenttypelist in experimenttypelists:}}
            <option value="{{=experimenttypelist}}"
                {{=" selected='selected'" if str(experimenttypelist)==request.vars.experiment_type else ""}}>
            {{=experimenttypelist}}</option>
        {{pass}}
    </select><br><br>

    <label for "experiment_name">Experiment Name: </label><br>
    <select name='experiment_name' id='experiment_name' multiple >
        {{for experimentcode in []:}}
            <option value="{{=experimentcode}}"
                {{=" selected='selected'" if str(experimentcode)==request.vars.experiment_name else ""}}>
            {{=experimentcode}}</option>
        {{pass}}
    </select><br><br>


    <input type="submit" value='Submit'>
</form>

