{{extend 'layout.html'}}

<form enctype="multipart/form-data" action="{{=URL('openbis_upload_form')}}" method="post">
<br><br><label for='galaxy_datatype'>Galaxy Datatype: </label>
<select name='gdatatype' id='gdatatype' onchange="
 ajax('openbis_apicalls', [ 'gdatatype','calloption' ], 'span_template');">
 <option disabled selected value> -- select data type -- </option>
 {{for gdatatype in gdatatypes:}}
 <option value="{{=gdatatype}}" {{=" selected='selected'" if str(gdatatype)==request.vars.gdatatype else ""}}>{{=gdatatype}}</option>
 {{pass}}
</select>

<br><span id='span_template'></span>

<br><br><input type="submit" value='Next'>


<script type="text/javascript">
$(function(){
 var calloption = 'template';
});
</script>
   
