{{extend 'layout.html'}}

<form enctype="multipart/form-data" action="{{=URL('workflow_getvars')}}" method="post">

    <label for='todo_action'>Todo Action: </label><br>
    <!--select  name='todo_action' id='todo_action' onchange="jQuery(galaxyworkflow).hide();jQuery(galaxy_workflow).hide();"-->
    <select  name='todo_action' id='todo_action' >
        <option value='run_galaxy_workflow'>Run Galaxy Workflow</option>
        <option value='run_galaxy_workflow'>Add data to Galaxy</option>
        <option value='sync_openbis_galaxy'>Sync Openbis with Galaxy</option>
        <option value='others'>Others</option>
    </select><br>
    <div id="divGalaxyWorkflow">
    <label id="galaxyworkflow" for="galaxy_workflow">Galaxy Workflow: </label><br>
    <select name='galaxy_workflow' id='galaxy_workflow'/>
        {{for gworkflowid in gworkflowids:}}
            <option value="{{=gworkflowid[1]}}"
                {{=" selected='selected'" if str(gworkflowid[0])==request.vars.galaxy_workflow else ""}}>
            {{=gworkflowid[0]}}
            </option>
        {{pass}}
    </select><br><br>
    </div>
    <input type="submit" value='Next'>

</form>

<script type="text/javascript">
$(function() {
    $('#todo_action').change(function(){
        //alert($('#todo_action :selected').val() );
        if($('#todo_action :selected').val()=== "run_galaxy_workflow"){
           $('#divGalaxyWorkflow').show(); 
        }else {
           $('#divGalaxyWorkflow').hide();
        } 
    });
});
//function hi(){
//alert($('#galaxy_workflow :selected').val());
//}
</script>
