{{extend 'layout.html'}}

<label for='todo_action'>Todo Action: </label><br>
<button id='button_run_galaxy_workflow' name='button_run_galaxy_workflow' type='button'>Run Workflow</button>
<button id='button_sync_openbis_galaxy' name='button_sync_openbis_galaxy' type='button'>Sync Openbis with Galaxy</button>
<button id='button_others' name='button_others' type='button'>Others</button>

<div id="divGalaxyWorkflow" class="hidden">
    <label id="galaxyworkflow" for="galaxy_workflow">Galaxy Workflow: </label><br>
    <select name='galaxy_workflow' id='galaxy_workflow'/>
        {{for gworkflowid in gworkflowids:}}
            <option value="{{=gworkflowid[1]}}"
                {{=" selected='selected'" if str(gworkflowid[0])==request.vars.galaxy_workflow else ""}}>
            {{=gworkflowid[0]}}
            </option>
        {{pass}}
    </select><br><br>
    <button id='button_run_galaxy_workflow_submit' name='button_run_galaxy_workflow_submit' type='button'>Next</button>
</div>

<script type="text/javascript">
$(function(){
  $('#button_run_galaxy_workflow').click(function(){
    $('#divGalaxyWorkflow').removeClass('hidden');
  });
  $('#button_run_galaxy_workflow_submit').click(function(){
    //$.ajax({type: "POST", url: "workflow_getvars", data: { "galaxyworkflow" : "galaxyworkflow"}});
    window.location = 'workflow_getvars?galaxy_workflow=' + $('#galaxy_workflow :selected').val();
  });
  $('#button_sync_openbis_galaxy').click(function(){
    window.location = 'sync_openbis_galaxy'
  });
});
</script>

