{{extend 'layout.html'}}
<form enctype="multipart/form-data" action="{{=URL('workflow_history')}}" method="post">

    <body onload="ajax('WorkflowSamples',[],'input_lists');"/>

    <span id='input_lists'></span>

    <input type="submit" value='Next'>
</form>

<!-- alternative
<script>

$( document ).ready(function() {
    console.log( "ready!" );
    $.ajax({
          type: "GET",
          url: "/web2pybis_v4/web2pybis/WorkflowSamples",
          //data: "array="+JSON.stringify(tempArray)
       }).done(function( msg ) {$('#input_lists').html(msg) });
});
</script >
-->

<!--script>
$( document ).ready(function() {
 $(document).on("click", "#sample_table_lists_0 tr", function(e) {
    alert();
 });

});
</script -->

