{{extend 'layout.html'}}

<form enctype="multipart/form-data" action="{{=URL()}}" method="post">

    <label for="new_history_name">Send to New History: </label><br>
    <input type="text" name="new_history" value="{{=workflow_name}}"><br>

    <input type="submit" value='Execute'>
</form>
