{{extend 'layout.html'}}

<h2><b>Workflow:</b> {{=workflow_name}}</h2>
<!--h1>{{=tmp}}</h1-->
<form enctype="multipart/form-data" action="{{=URL('workflow_run')}}" method="post">

    <label for="new_history_name">Send to New History: </label><br>
    <input type="text" name="new_history" value="{{=workflow_name}}"><br>

    <input type="submit" value='Execute'>
</form>
